Service References/GammaService/PrinterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PrinterService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/PrinterService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/PrinterService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPrinterService_PrintPallet_InputMessage">
    <wsdl:part name="parameters" element="tns:PrintPallet" />
  </wsdl:message>
  <wsdl:message name="IPrinterService_PrintPallet_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrintPalletResponse" />
  </wsdl:message>
  <wsdl:message name="IPrinterService_ActivateProductionTask_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivateProductionTask" />
  </wsdl:message>
  <wsdl:message name="IPrinterService_ActivateProductionTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivateProductionTaskResponse" />
  </wsdl:message>
  <wsdl:portType name="IPrinterService">
    <wsdl:operation name="PrintPallet">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrinterService/PrintPallet" message="tns:IPrinterService_PrintPallet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrinterService/PrintPalletResponse" message="tns:IPrinterService_PrintPallet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivateProductionTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrinterService/ActivateProductionTask" message="tns:IPrinterService_ActivateProductionTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrinterService/ActivateProductionTaskResponse" message="tns:IPrinterService_ActivateProductionTask_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPrinterService" type="tns:IPrinterService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PrintPallet">
      <soap:operation soapAction="http://tempuri.org/IPrinterService/PrintPallet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateProductionTask">
      <soap:operation soapAction="http://tempuri.org/IPrinterService/ActivateProductionTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PrinterService">
    <wsdl:port name="BasicHttpBinding_IPrinterService" binding="tns:BasicHttpBinding_IPrinterService">
      <soap:address location="http://localhost:8733/PrinterService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>